header.main-header {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

header.nav-fixed {
    padding: 0px;
    background-color: var(--bg-color);
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
    justify-content: space-between;
    padding: 0;
}

.navbar .navbar__logo {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--primary);
    letter-spacing: -1px;
}

.navbar .header__theme__mobile {
    display: none;
}

a.nav-link::before {
    position: absolute;
    content: '';
    background: var(--primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
    transition: all .5s;
}

.nav-link:hover::before {
    width: 20px;
}

#navbar-content .nav-item .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--title-color);
}

#navbar-content .nav-item .nav-link:hover {
    color: var(--primary);
}

#navbar-content .active .nav-link {
    color: var(--primary);
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}

#navbar-content #pages {
    padding-right: 20px;
}

#navbar-content #pages i {
    font-size: 12px;
    top: 21px;
    right: 5px;
    display: inline-block;
    position: absolute;
}


header .header__search {
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto 1fr;
}

.header__search a span.fa {
    color: var(--text-color);
    font-size: 15px;
    opacity: .7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: var(--light-bg-color);
    text-align: center;
    border-radius: 50px;
    border: 1px solid var(--border-color);
}

.header__search a span.fa:hover {
    color: var(--title-color);
    opacity: 1;
}

#switchButton {
    background-color: transparent;
    border: none;
    color: var(--title-color);
    outline: none;
}

#switchButton i {
    font-size: 22px;
}

#switchButton .fa-moon {
    display: block;
}

#switchButton .fa-sun {
    display: none;
}

header .navbar-toggler {
    width: 36px;
    height: 36px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color: var(--primary);
    border-radius: 5px;
    font-size: 24px;
    padding: 0;
}

header .navbar-toggler i {
    vertical-align: middle;
}


/* DARK THEME */

.dark header.main-header {
    background-color: var(--bg-color-dark);
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark #switchButton .fa-sun {
    display: block;
    color: var(--title-color-dark);
}

.dark #navbar-content .active.nav-item .nav-link {
    color: var(--primary-dark);
}

.dark #navbar-content .nav-item .nav-link {
    color: var(--title-color-dark);
}

.dark #navbar-content .nav-item .nav-link:hover {
    color: var(--primary-dark);
}

.dark .nav-fixed #navbar-content .nav-item .nav-link {
    color: var(--text-color-dark);
    opacity: 0.95;
}

.dark .nav-fixed #navbar-content .active .nav-link {
    color: var(--primary-dark);
}

.dark .header__search a span.fa {
    color: var(--text-color-dark);
    background: var(--light-bg-color-dark);
    border: 1px solid var(--border-color-dark);
}

.dark .header__search a span.fa:hover {
    color: var(--title-color-dark);
}

.dark .nav-fixed #switchButton .fa-sun {
    color: var(--text-color-dark);
}


/* RESPONSIVE */

@media screen and (max-width:991px) {
    header.main-header {
        height: auto;
        padding: 15px 0;
    }

    header.nav-fixed {
        height: auto;
        padding: 10px 0;
    }

    .navbar .header__theme__mobile {
        display: block;
        position: relative;
    }
    
    .header__theme {
        display: none;
    }

    header .wrapper {
        width: 70px;
        display: flex;
        justify-content:space-between;
    }

    #switchButton2 i {
        font-size: 23px;
    }

    #switchButton2 .fa-moon {
        display: block;
    }

    #switchButton2 .fa-sun {
        display: none;
    }

    #switchButton2{
        background-color: transparent;
        border: transparent;
        position: absolute;
        bottom: 0;
    }

    .dark #switchButton2 .fa-moon {
        display: none;
    }

    .dark #switchButton2 .fa-sun {
        display: block;
        color: var(--title-color-dark);
    }

    #navbar-content ul{
        padding: 20px 0;
    }

    #navbar-content .nav-item .nav-link {
        padding: 8px 0;
        text-align: center;
    }

    a.nav-link::before{
        bottom: 5px;
    }
}